.fa{
  color: #d5d5d5;
  font-size: 32px;
  cursor: pointer;
}

.navbar-icons{
  display: flex;
  justify-content: space-between !important;
  width: 190px;
}

.user-name{
  font-family: 'Montserrat';
  color: #5d5d5d;
  font-weight: 600;
}

a{
  text-decoration: none;
}

.tooltip {
  position: relative;
  opacity: 1 !important;
  margin-right: 35px;
  z-index: -9;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.logout-option {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  z-index: 9;
  > i {
    position: absolute; 
    top: -17px; 
    left: 42px; 
    font-size: 27px;
  }

  &:hover {
    background-color: aliceblue !important;

    > i {
      color: aliceblue !important;
    }
  }
}