<div class="container-fluid">
  <div class="header shadow-sm w-100">
    <div class="d-flex">
      <nav class="navbar navbar-expand-lg navbar-light bg-none container-fluid">
        <img src="../../../assets/logo.png" [routerLink]="'/'" alt="LOGO" class="cursor-pointer header-image m-3">
        <span class="title-text ml-3 mt-2" *ngIf="isCategoryList">Category List</span>
        <span class="title-text ml-3 mt-2" *ngIf="isBudgetList">Budget List</span>
        <span class="title-text ml-3 mt-2" *ngIf="isWalletList">Wallet List</span>
        <div class="f-grow-1"></div>
        <button mat-flat-button class="round-btn w-10 mr-5 mt-3" (click)="openAddExpense()">
          Add Expense
        </button>
        <div class="navbar-icons">
          <i class="fa fa-search mt-2"></i>
          <i class="fa fa-cog mr-5 mt-2" aria-hidden="true"></i>
        </div>

        <!-- User Detail -->
        <div class="d-block mx-3" *ngIf="userName">
          <div class="mb-0 font-size-15 cursor-pointer py-4" (mouseenter)="isDisplayOptions = true"
            (mouseleave)="isDisplayOptions = false">
            <span class="tooltip mt-2">
              <i class="fa fa-user mr-2"></i>
              <span class="user-name">{{userName}}</span>
              <i class="fas fa fa-caret-up mx-2" *ngIf="isDisplayOptions"></i>
              <i class="fas fa fa-caret-down mx-2" *ngIf="!isDisplayOptions"></i>
            </span>
            <div class="text-danger cursor-pointer mt-1 px-3 py-2 logout-option" (click)="logout()"
              *ngIf="isDisplayOptions">
              <i class="fas fa fa-caret-up text-white"></i>
              <small>
                <i class="fas fa fa-power-off mr-1"></i>
                Logout
              </small>
            </div>
          </div>
        </div>
        <!-- -->

      </nav>
    </div>
  </div>
</div>