.category-list-card {
  background: #f2f2f2;
  width: 11rem;
  height: 9rem;
  margin-left: 69px;
  margin-bottom: 50px;
  top: 117px;
  border-radius: 24px;
  box-shadow: none;
}

.container {
  margin: 0 154px;
}

.mat-icon.icon-cat {
  width: 100%;
  font-size: 5em;
  text-align: center;
  color: #f23b52;
  font-size: 5em;
}

.title-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-container {
  display: contents;
  height: auto;
}

.icon-visibility {
  display: none;
  justify-content: space-between;
}

.icon-display {
  display: flex;
  justify-content: space-between;
  font-size: 3em;
  color: rgb(165, 165, 165);
}

.category-list-card {
  &:hover {
    background-color: #f23b52;
    color: #fff;
    cursor: pointer;

    .mat-icon.icon-cat {
      display: flex;
      color: #fff !important;
      animation: icon-animation 0.2s 1 0s linear;
      animation-fill-mode: forwards;
      transition: ease-in;
    }

    .icon-visibility {
      display: flex;
      color: #fff;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 40px;

      .icon-display {
        font-size: 2.2em;
        color: #fff;
      }
    }
  }
}

@keyframes icon-animation {
  0% {
    font-size: 5em;
  }
  100% {
    font-size: 2em;
  }
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
