.add-category-card {
  box-shadow: none;
  width: 21rem;
  height: 15rem;
  border-radius: 30px;
}

.input-box {
  width: 17rem;
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #f23b52;
    cursor: pointer;
  }
  .mat-form-field-ripple {
    background-color: #f23b52;
  }
  .mat-form-field-required-marker {
    color: #f23b52;
  }
  .mat-input-element {
    color: black;
  }
}
