<div class="title-text mt-5 ml-5" *ngIf="!isPresent">Add Budget</div>
<div class="title-text mt-5 ml-5" *ngIf="isPresent">Update Budget</div>
<mat-card class="add-budget-card ml-5 mt-4 p-0">
  <mat-card-header>
    <div class="d-grid" *ngIf="!categoryData">
      <mat-form-field class="mt-3 input-box">
        <mat-label>name</mat-label>
        <input matInput id="name" type="text" name="name" disabled />
      </mat-form-field>
      <mat-form-field class="textbox">
        <mat-label>amount</mat-label>
        <input matInput type="number" name="amount" disabled />
      </mat-form-field>
      <mat-form-field class="textbox">
        <mat-label>notes</mat-label>
        <textarea matInput type="textarea" name="description" style="height: 75px;" disabled></textarea>
      </mat-form-field>
      <!-- To add new Budget -->
      <button mat-flat-button class="round-btn w-50 ml-auto mr-auto" style="cursor:not-allowed;">SAVE</button>
      <!--  -->
    </div>

    <!-- Update Budget -->
    <div class="d-grid" *ngIf="categoryData">
      <mat-form-field class="mt-3 input-box">
        <mat-label>name</mat-label>
        <input matInput id="name" type="text" name="name" [(ngModel)]="categoryData.name" />
      </mat-form-field>
      <mat-form-field class="textbox">
        <mat-label>amount</mat-label>
        <input matInput type="number" name="amount" [(ngModel)]="amount" />
      </mat-form-field>
      <mat-form-field class="textbox">
        <mat-label>notes</mat-label>
        <textarea matInput type="textarea" name="description" style="height: 75px;"></textarea>
      </mat-form-field>
      <!-- To Update  Budget -->
      <button mat-flat-button class="round-btn w-50 ml-auto mr-auto" *ngIf="isPresent"
        (click)="updateBudget()">UPDATE</button>
      <button *ngIf="!isPresent" mat-flat-button class="round-btn w-50 ml-auto mr-auto"
        (click)="addBudget()">SAVE</button>
      <!--  -->

      <!-- To Cancel Update -->
      <button mat-flat-button class="round-btn w-10 ml-auto mr-auto mt-3" (click)="cancelUpdate()"> <i class="fa fa-times mb-1" aria-hidden="true"></i></button>
      <!-- -->
    </div>
  </mat-card-header>
</mat-card>